[submodule "bundle/zen-coding"]
	path = bundle/zen-coding
	url = http://github.com/mattn/zencoding-vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "autoload"]
	path = autoload
	url = https://github.com/paulnicholson/vim-pathogen.git
[submodule "bundle/pydiction"]
	path = bundle/pydiction
	url = https://github.com/vim-scripts/Pydiction
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "bundle/w3cvalidate"]
	path = bundle/w3cvalidate
	url = https://github.com/dekomote/w3cvalidate.vim.git
